<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvcMember</display-name>
  
  <!-- <servlet>
  	<servlet-name>ControlServlet</servlet-name>
  	<servlet-class>com.control.ControlServlet</servlet-class>
  	com.control.ControlServlet.class > class 생략
  	
	  	<init-param>
	  		<param-name>propertyConfig</param-name>
	  		<param-value>/Users/moon/java_ee/eclipse/mvcMember/src/main/webapp/WEB-INF/command.properties</param-value>
	  	</init-param>\n 다음 라인, \t tab
	  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ControlServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  	* : 앞에어떤 글자가오던 상관없이 Servlet 으로 가라. .do : 무조건 do 로 끝나야 한다
  </servlet-mapping> -->
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>