<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"	
  "https://mybatis.org/dtd/mybatis-3-config.dtd"><!-- DTD 파일은 절대 손으로 쓰는게 아니다. -->
<configuration>
	<properties resource="db.properties"></properties>
	<!-- properties: 공백 사용 하면 안된다
		 값을 숨기고,xml 파일은 수정하지 않고 db.propertie만 수정할 수 있도록 하기 위해 -->
	
	<typeAliases>
		<typeAlias type="member.bean.MemberDTO" alias="member" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>			
				<property name="url" value="${jdbc.url}"/>			
				<property name="username" value="${jdbc.username}"/>			
				<property name="password" value="${jdbc.password}"/>			
			</dataSource>		
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="member/dao/memberMapper.xml"/>
		<!-- resource (자원) 절대 '.'을 찍으면 안된다. package 개념이 아닌 폴더 개념 '/' -->
	</mappers>
</configuration>  
